bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/

/.idea
/.idea/
/.idea/.idea.Apex Engine Tools CSharp
/.idea/.idea.Apex Engine Tools CSharp/
/.idea/.idea.Apex Engine Tools CSharp/.idea/contentModel.xml
